body{
    font-family: Raleway;
    background-color: #F5F8FF;
  
    
}
*{
    box-sizing: border-box;
}
.header-bg{
    background-image: url(Assets/Hero-bg.png);
    
    
}
.name{
    font-family: inter;
    color:#4E47FF ;
    font-size: 34px;
    line-height: 150%;
    font-weight: bolder;
    text-align: left;
}
.sign-up-btn{
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    height: 48px;
    width: 132px;
}
button:hover{
    background-color:#9a96ff;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 150px;
}
.hero-slogan{
    font-size:65px ;
    text-align: center;
    color: #252432;
    max-width: 905px;
   

}
.hero-cta{
    height: 48px;
    width: 174px;
    color: white;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
}
.hero-cta:hover{
 background-color: #9a96ff;
}
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 158px;
    padding-bottom:152px ;
    margin-left: 150px;
    margin-right: 150px;
    
}

/* hero section end here */

/*  action section start here*/
.action{
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-top: 68px;
    margin-bottom:116px ;
    align-content: center;
    justify-items: center;
    
  
}
.action-left{
 display: flex;
 flex-direction: column;
 align-items: left;
 justify-content: center;
    
    
   
}
.act-title{
    color: #252432;
    font-size: 42px;
    font-weight: bold;
    
}
.act-sub{
    color:rgba(37, 36, 50, 0.5) ;
    max-width: 517px;
    font-size: 24px;
}
.act-btn{
    width: 229px;
    height: 48px;
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 10px;
}

.act-img{
    max-width: 408px;
    max-height: 328px;
    border-radius: 48px;
}

/*  action section end here*/

/*  productive user start here*/

.productive-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgba(78, 71, 255, 0.1) ;
    padding: 50px 142px; 
    margin: 0 auto;
    width:1140px;
    border-radius: 24px;
    
}
.pro-title{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.pro-user-info{
    display: flex;
    gap:158px ;
    align-items: center;
    justify-content: center;
}
.pro-user{
  align-items: center;
  text-align: center;
  
}
.pro-count{
    font-family: inter;
    font-size: 80px;
    color: #4E47FF;
    font-weight: bold;
     align-items: center;
    justify-content: center;
} 
.pro-info{
    font-family: inter;
    font-size: 20px;
    color:rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

/*  productive user end here*/

/* review section start from here */
.review{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 137px;
    margin-bottom: 137px;
    
}
.reviews{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.carts{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #F2EDED;
    border-radius: 14px;
    padding: 24px 24px;
    width: 372px;
    height: 243px;
   
    
}
.cart{
    display: flex;
    
    
}
.star{
display: flex;
}
.say{
display: flex;
flex-direction: column;
}
.user-title{
    color: #1e1e1e;
    font-size: 24px;
    font-weight: 700;
    font-family: inter;
    
}
.user-sub{
    font-family: inter;
    font-size: 16px;
    color: #1e1e1e;
    font-weight: 500;
    
    
    
}
.user-info{
    display: flex;
    gap: 24px;
    margin-top: -24px;
    align-items: center;
    
}
.name-date{
  align-items: center;
}
.name-user{
     font-family: inter;
    font-size: 16px;
    color: #757575;
    font-weight: 700;
}
.date{
    color: #b3b3b3;
    font-family: inter;
    font-size: 16px;
}
.user-img{
    border-radius: 100%;
   width: 40px;
   height: 40px;
}

/* review section end from here */

/* ready to focuses better start here */

.ready{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    margin: 0 auto;
    
   
    
}
.ready-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin: 0 auto;
    border-radius: 14px;
    background-color: rgb(255, 255, 255);
    width: 1140px;
    padding: 71px 150px;
   
}
.ready-title{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
   

}
.ready-sub{
    font-size: 16px;
    font-family: inter;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    
   
}
.ready-btn{
    /* padding: 12px 36px; */
    width: 195px;
    height: 48px;
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 12px;
}
.ready-img{
    display: flex;
    align-items: center;
    align-items: center;
    border-radius: 48px;
    margin: 0 auto;
}
/* ready to focuses better end here */
/* get in touch section start from here */
.get-in-touch{
    display: flex;
    justify-content: space-around;
    margin-top: 92px;
    height: 632px;
}
.action-left{
    display: flex;
    flex-direction: column;
    
   
}
.touch{
    font-size: 97px;
    width: 528px;
    font-weight: bold;
    font-family: Raleway;
}
.action-right{
    display: flex;
    flex-direction: column;
    gap: 19px;
    
}
#email{
    width: 497px;
    height: 70px;
    background-color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    border:1px solid #D6DDED;
    font-family: inter;
    text-indent: 32px;
    font-size: 20px;

}
#name{
    width: 497px;
    height: 70px;
    background-color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    border:1px solid #D6DDED;
    font-family: inter;
    text-indent: 32px;
    font-size: 20px;
    

}
#textarea{
    width: 497px;
    height: 135px;
    background-color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    border:1px solid #D6DDED;
    font-family: inter;
    font-size: 20px;
    text-indent: 32px;

}
.get-in-touch-btn{
    width: 497px;
    height: 62px;
    background-color: #4E47FF;
    border: navajowhite;
    border-radius: 10px;
    color: white;
    font-size: 16px;
}
main div ::placeholder{
    font-size: 20px;
    text-indent: 32px;
    color:rgba(0, 0, 0, 0.5);
    font-family: inter;
    text-align: start;
}
main div label{
    font-size: 18px;
    font-weight: 700;
    font-family: inter;
}
main div textarea ::placeholder{
   
}
/* get in touch section end from here */


/* footer start here */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 428px;
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 104px;
    padding-bottom: 104px;
}
.f-name{
    display: flex;
    font-size: 100px;
    font-family: inter;
    font-weight: 900;
    text-align: center;
    color: #4E47FF;
    height: 121px;
}
.f-p{
    display: flex;
text-align: center;
width: 531px;
color: #8987a1;
font-size: 16px;
font-family: inter;
}
footer ul li{
    list-style: none;
    display: flex;
    flex-direction: row;
    

}
 footer ul{
    display: flex;
    gap: 24px;
}
ul li a{
    display: flex;
    text-decoration: none;
    color: #8987a1;
    font-family: inter;


}
/* footer end here */